<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultDevices</key>
	<dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-18-0</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-10th-generation</key>
			<string>BD7AC26C-8791-49F5-A3ED-21953E08A909</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M2</key>
			<string>3B5141EB-009D-4D4A-B74B-54F9A04ADBFD</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M2</key>
			<string>901437E4-D6B0-4DE5-B26E-9611F179CE6D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M4-8GB</key>
			<string>B8254B84-D4EF-47B6-A78D-3037E24B5B2A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M4-8GB</key>
			<string>8AC8545F-D593-4EBF-BBFD-517F59CB1048</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-6th-generation</key>
			<string>5A1CCDFA-97A5-4AE7-8D0E-275719201820</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16</key>
			<string>5ECBB8D5-6A95-4E79-9FAA-628B38DF1655</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Plus</key>
			<string>057FF100-21D8-4145-A3FE-2C738B38A27B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro</key>
			<string>B9615457-09CC-48F3-AC2C-7C6B414629E3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro-Max</key>
			<string>93C689CB-9B1C-4D89-9AE6-BEF276BEAD7A</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE-3rd-generation</key>
			<string>4BE8DF03-3F8D-4B0B-9CF5-BE15C6BB6CF7</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-18-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-10th-generation</key>
			<string>AF527E84-9B0C-43A5-8599-D6DC04876471</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M2</key>
			<string>BEFD1890-774C-4D8B-BDCF-D638C44D6FC3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M2</key>
			<string>936229E1-FCAD-4FF5-9F44-0F2767AB69DE</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M4-8GB</key>
			<string>37B183EE-F121-48B9-A14E-1B4DEA5731F1</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M4-8GB</key>
			<string>A04E5C9F-A4D7-4716-805B-63BE35146CA1</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>0A81FA05-5A8E-4B17-B51B-6BB448DF0788</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16</key>
			<string>891E4B4F-9FEA-494A-8DD0-DA1C058B5253</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Plus</key>
			<string>D282B53C-9D67-4C1A-8205-D6DC94D48CC0</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro</key>
			<string>7D5B65CB-D193-4E1D-8216-FD5142C67112</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro-Max</key>
			<string>97B340D8-8C2E-437F-88E5-F4FD1C2F708D</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-SE-3rd-generation</key>
			<string>877F85B8-645D-44FA-B7E8-0A404DD1DD48</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-18-4</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>B7DCB727-4650-4F00-AC29-53CE30619C27</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M3</key>
			<string>797620B8-404B-4B4D-98E1-F6335275AA26</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M3</key>
			<string>B327546A-A170-49E3-90AB-341D721B808F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M4-8GB</key>
			<string>D6667F74-C251-4E9B-B2FD-ED9BE92F1D72</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M4-8GB</key>
			<string>C52C23CE-1473-424B-9B15-80C2BAE72AD3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>F22FFE8E-C537-4060-BA88-2A6236EA9462</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16</key>
			<string>A4C65422-3A86-4203-9B86-9F587FCC7165</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Plus</key>
			<string>835D42D0-94E6-4B1A-AE8A-A949270FB0F6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro</key>
			<string>2AF1A592-E444-4B62-8AF3-3AE923B0F2C5</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro-Max</key>
			<string>9F52CA41-9159-48A6-B17C-9890B62BF646</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16e</key>
			<string>D7C5A509-713D-4FDA-97E8-470751C288E8</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-18-5</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>6EB4BBA4-EE18-4BB1-BE2D-DC37940E0C67</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M3</key>
			<string>448C52D9-D110-473C-A235-086DBBB1E016</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M3</key>
			<string>BC50AA92-4CFC-435C-B5EC-D370A9DA40F7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M4-8GB</key>
			<string>7F894FE0-407E-4E07-93DC-1E9BADFD43FD</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M4-8GB</key>
			<string>5333FC67-4278-4C8D-8E7E-D335692E7D88</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>885B50D9-9B69-48D1-A614-5DA116878A25</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16</key>
			<string>3EDEB6E0-9A8D-40F1-AF5E-7EFCE6AD0E1C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Plus</key>
			<string>E8A8C910-21AB-47E8-8AF1-AA2FBC99F05B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro</key>
			<string>C9823D88-0EB7-43F1-B971-9771E5160BE9</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro-Max</key>
			<string>15AB3298-270F-449B-B0BA-DCB97024C8C6</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16e</key>
			<string>BA6AB21C-1D2D-4C0F-8314-111EE684449C</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-26-0</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>851591E9-48B2-4ED6-8CA9-D11BC1CFF4B2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M3</key>
			<string>B833EA27-A5E3-49A8-9BD5-1D4A1C9A1D94</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M3</key>
			<string>FBFA1484-DBF6-4268-90C5-385AD9CFBA0E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M4-8GB</key>
			<string>27967040-4201-4C84-A4D7-C363887E27E3</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M4-8GB</key>
			<string>2AA125A6-53E8-4019-95C9-93AF2A87AC50</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>6B35EF30-7BF5-47B6-872D-A1DA794F3150</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16</key>
			<string>F01B9F41-B7D5-4638-BF15-54694A0E1402</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Plus</key>
			<string>32EADE74-796B-4476-B8C6-7B3134442A9C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro</key>
			<string>EFC68158-1802-4674-A520-7088FAB1E949</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16-Pro-Max</key>
			<string>571F160B-117B-4F92-9663-E780BFB4C65F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16e</key>
			<string>13DB76DA-70C9-4DC6-A409-BD40EB2554DF</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17</key>
			<string>D8202AFF-9ED3-46FF-A1E0-3A1F9A57ECE2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro</key>
			<string>0549BFFE-8AE4-4B7D-B34A-5CB084A1318E</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro-Max</key>
			<string>9C325CA0-8D03-4A50-B5C2-D8B6FF0973C2</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-Air</key>
			<string>ADCB002A-7804-4AB3-9541-D113593D9605</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.iOS-26-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-A16</key>
			<string>612C5774-0E8B-4079-B70F-B5D91D81BDD7</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-11-inch-M3</key>
			<string>8CBE5EC6-D392-47D0-BFB6-83D85317CCA8</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Air-13-inch-M3</key>
			<string>A5A6900E-CD3F-42C8-A123-D26D0A111A63</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-11-inch-M4-8GB</key>
			<string>389C4F0C-4358-4487-811B-A80ABA6DBE6F</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-Pro-13-inch-M4-8GB</key>
			<string>23FDDD91-F68D-4433-AB7E-E1746E905732</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPad-mini-A17-Pro</key>
			<string>844C2D40-9C29-4297-AEB7-12EE5B74F792</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-16e</key>
			<string>E9FE51A6-88E8-4F69-9886-0C8F3EEC1327</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17</key>
			<string>66327F1E-72FC-48C4-938B-84BB7F166A92</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro</key>
			<string>E67707F1-02B2-4B78-A3DB-AC6F14DDF04C</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-17-Pro-Max</key>
			<string>35340ED9-15A4-4059-AE08-48375E70BA91</string>
			<key>com.apple.CoreSimulator.SimDeviceType.iPhone-Air</key>
			<string>46B05D29-222D-4142-A132-4F8794E91CA7</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.tvOS-18-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p</key>
			<string>4073F282-AD46-4A52-88C3-791EB234B299</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-3rd-generation-1080p</key>
			<string>4285CC19-071F-4E5E-B5CD-2CBB39E0AA7B</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-TV-4K-3rd-generation-4K</key>
			<string>5BDE95A6-F844-42A4-ADBF-93C6A0C3F891</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.watchOS-11-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-SE-40mm-2nd-generation</key>
			<string>8DE7A8DE-74D1-41BA-8AE7-29D01A471C74</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-SE-44mm-2nd-generation</key>
			<string>90EFBA18-ECDB-448F-A84C-5F8C4E724238</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-10-42mm</key>
			<string>965DE146-B5C0-4D91-9472-033B9D711C63</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-10-46mm</key>
			<string>C9B1E7E0-6210-433C-B0C2-95421DE78D61</string>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Ultra-2-49mm</key>
			<string>20F553FF-997B-4ADD-9E4B-87CB9F758AED</string>
		</dict>
		<key>com.apple.CoreSimulator.SimRuntime.xrOS-2-1</key>
		<dict>
			<key>com.apple.CoreSimulator.SimDeviceType.Apple-Vision-Pro</key>
			<string>B6ED4564-FA83-4634-8925-9003E258A587</string>
		</dict>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>DevicePairs</key>
	<dict/>
	<key>Version</key>
	<integer>0</integer>
</dict>
</plist>
